<!-- <div class="_anamnesis-items"> -->
<% var length = items.length%>
<% for (var i=0; i<length; i++) { %>
  <div class="_anamnesis-item" data-no="<%=items[i].seeno%>">
    <div class="_anamnesis-item-status <%=items[i].seeno===1?'first':'not-first'%>"></div>
    <div class="_anamnesis-item-left">
      <div>医生:<span><%=items[i].docname||''%></span></div>
      <div>诊断:<span><%=items[i].narrate||''%></span></div>
      <div>检查:<span><%=items[i].advice||''%></span></div>
    </div>
    <div class="_anamnesis-item-right">
      <div><%=items[i].seedate.substring(0,10)||''%></div>
      <div></div>
    </div>
  </div>
  
<% } %>
<!-- </div> -->

