<!-- <div class="_out-work-items"> -->
<% var length = items.length%>
<% for (var i=0; i<length; i++) { %>
  <div class="_payment-info _out-work-item">
    <header class="_payment-info-header _out-work-item-header">
      系统编码：<span>123456</span>
    </header>
    <div class="_out-work-item-content">
      <ul>
        <li>
          <label>取件人：</label>
          <span><%=items[i].incept||''%></span>
        </li>
        <li>
          <label>加工件数：</label>
          <span><%=items[i].inumber||0%></span>
        </li>
        <li>
          <label>送件时间：</label>
          <span><%=items[i].date1.substring(0,10)||''%></span>
        </li>
        <li>
          <label>回件时间：</label>
          <span><%=items[i].date2.substring(0,10)||''%></span>
        </li>
        <li>
          <label>当前状态：</label>
          <span><%=items[i].status||''%></span>
        </li>
        <li>
          <label>医生：</label>
          <span><%=items[i].docname||''%></span>
        </li>
        <li>
          <label>加工单位：</label>
          <span><%=items[i].factory||''%></span>
        </li>
        <li>
          <label>加工单号：</label>
          <span><%=items[i].returnno||''%></span>
        </li>
        <li>
          <label>加工价格：</label>
          <span><%=items[i].cost||''%></span>
        </li>
        <li>
          <label>患者价格：</label>
          <span><%=items[i].price||''%></span>
        </li>
        <div>
          <div><%=items[i].place||''%></div>
          <!--<div>1牙位左上123，加工内容描述，色号描述；</div>-->
          <!--<div>1牙位左上123，加工内容描述，色号描述；</div>-->
        </div>
      </ul>
    </div>
    <footer class="_payment-info-footer _out-work-item-footer">
    </footer>
  </div>
<% } %>
<!-- </div> -->

