<% var length = items.length %>
<% for (var i=0; i<length; i++) { %>
<div class="appointment-item" data-no="<%=items[i].no%>" data-yylx="<%=items[i].yylx%>" data-sid="<%=items[i].sid%>">
  <div class="appointment-item-left">
    <!-- 左边左上角标签 -->
      <% switch(items[i].type){       //注意这里没有代码块结束符号，而是要和下面合并在一个代码块里，才能正常  
        case 0: %>  
        <!-- 预约 -->
        <div class="appointment-item-left-tag green-appointment"></div>
            <% break; %>    //但是这里就不需要合并，可以换行开始新的代码块  
    <% case 1: %>  
    <!-- 完成 -->
        <div class="appointment-item-left-tag done-appointment"></div>
            <% break; %>  
    <% case 2: %>  
    <!-- 未回访 -->
        <div class="appointment-item-left-tag not-return-visit-appointment"></div>
            <% break; %>  
    <% case 3: %>  
    <!-- 爽约 -->
        <div class="appointment-item-left-tag miss-appointment"></div>
            <% break; %>  
    <% case 4: %>  
    <!-- 已回访 -->
    <div class="appointment-item-left-tag return-visited-appointment"></div>
        <% break; %>  
   <% } %>  
    
     <!-- 左边时间-->
    <div class="appointment-item-left-time">
      <!-- 09:00 -->
      <%=items[i].date %>
    </div>
    <!-- 左边姓名-->
    <div class="appointment-item-left-name">
      <!-- 王七里 -->
      <% if(!isSingle){%>
      <%=items[i].name %>
      <%}else {%>
      <%=items[i].date1%>
      <%}%>
    </div>
  </div>
  <div class="appointment-item-right">
    <div class="appointment-item-right-content">
        <div class="appointment-item-right-content-top">
          内容：<%=items[i].ffcontext || items[i].context %>
        </div>
        <div class="appointment-item-right-content-bottom">
          医生：<%=items[i].docname || items[i].doctname %>
        </div>
    </div>
    <span class="appointment-item-right-tel" data-tel="<%=items[i].tel %>">
    </span>
  </div>
</div>
<% } %>